/* CSS declarations go here */

.img_logo{
	max-height:40px;
}

.form_table_data{
    padding: 4px;
}

.form_table {
    background-color: #F8F8F8;
}

.container2 {
    margin-left: 8px;
    margin-right: 8px;
}
